* {
    font-family: 'helvetica', sans-serif ;
    outline: none;
    &:focus {
        outline: none;
    }
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-text-size-adjust: none; /*hold font-size in moblie*/
    -ms-overflow-style: none;
}

article, aside, hgroup, header, footer, figure, figcaption, nav, section {
    display: block;
}

body, h1, h2, h3, h4, h5, h6, div, p, ul, ol, dl, li, dt, dd, address, article, aside, hgroup, header, footer, figure, figcaption, nav, section {
    margin: 0px;
    padding: 0px;
    color: #444;
}

li {
    list-style: none;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
    color: #444;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover, &:focus {
        color: #444;
        opacity: 0.6;
        text-decoration: none;
    }
}
