/* @MIXIN */

@mixin ellipsis {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

@mixin floatToCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin circleFrame($length) {
    width: $length;
    height: $length;
    border-radius: 50%;
    overflow: hidden;
    background: {
        size: cover;
        position: 50% 50%;
    }
}

@mixin stickyPosition {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
}

/* @METHOD */

/* @FONT */
$inconsolata: 'Inconsolata', monospace;

/* @VARIABLES */
$global-header-height: 50px;

/* @COLORS */
$black-color: #000;
$dark-grey-color: #383838;
$silver-grey-color: #aaa;
$light-grey-color: #ddd;
$white-color: #fff;

/* @MEDIA QUERY */
$tablet: 768px;
$mobile: 640px;
