/* @MIXIN */

@mixin ellipsis {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

@mixin floatToCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* @METHOD */



/* @VARIABLES */
$global-header-height: 50px;

/* @COLORS */

$dark-grey-color: #2A2627;
$silver-grey-color: #aaa;
$light-grey-color: #ddd;
