$input-height: 40px;
$mobile-input-height: 40px;
$input-border-radius: 5px;

* {
    font-family: $inconsolata;
}

.global-logo {
    img {
        width: 100%;
    }
}

.full-width {
    width: 100%;
}

.hidden-float {
    position: fixed;
    top: -10000px;
    right: -10000px;
    z-index: 0;
}

// FIELDSET
.form-box {
    margin-top: 20px;
    padding: 20px;
    text-align: center;

    form {
        .input-container {
            margin-bottom: 25px;
        }
    }
}
