[ui-view='header'] {

}

#container.default-layout {
    min-height: 100vh;
    &.with-header {
        margin-top: $global-header-height;
    }

    div[ui-view="jumbo"] {
        margin-top: $global-header-height * -1;
    }
}

[ui-view='footer'] {

}
