.state-signin .container,
.state-signup .container {
    header {
        text-align: center;
        .global-logo {
            width: 150px;
            margin: 0 auto;
        }
    }
    .form-box {
        form {
            .signin-btn {
                margin-top: 30px;
            }
        }
    }
}
