<div class="container">
    <div class="row">
        <div class="fieldset wiseword-form col-lg-12">
            <div class="message-box">
                <div class="main-message">
                    <h3>{{'SIGNUP_CERT.TITLE' | translate}}</h3>
                </div>
                <div class="wiseword-message">
                    <h6 translate="SIGNUP_CERT.DESC"></h6>
                </div>

                <div class="time-checker" ng-if="AuthSignupCtrl.isExpired">
                    {{'SIGNUP_CERT.EXPIRED' | translate}}
                </div>
                <div class="time-checker" ng-if="!AuthSignupCtrl.isExpired">
                    <span>{{AuthSignupCtrl.leftTimeDigit.minutes()}}</span> {{'SIGNUP_CERT.TIME.M' | translate}}
                    <span>{{AuthSignupCtrl.leftTimeDigit.seconds()}}</span> {{'SIGNUP_CERT.TIME.S' | translate}}
                </div>
            </div>
            <footer>
                <button class="btn" ng-click="AuthSignupCtrl.sendMailAgain()">{{'FORM.SEND.EMAIL_AGAIN' | translate}}</button>
                <button class="btn" ng-click="AuthSignupCtrl.goToMain()">{{'FORM.AUTHENTICATION.LATER' | translate}}</button>
            </footer>
        </div>
    </div>
</div>
