<div class="container">
    <div class="row">
        <div class="fieldset wiseword-form col-lg-12">
            <div class="message-box">
                <div class="main-message">
                    <h3>{{'FIND_PASSWORD.TITLE' | translate}}</h3>
                </div>
                <div class="wiseword-message" translate="FIND_PASSWORD.DESC"></div>
                <div
                    class="form-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3"
                >
                    <form ng-show="!FindPassEmailCtrl.isFinished" name="FindPassEmailCtrl.form">
                        <div class="input-container full-width">
                            <input
                                ng-model="FindPassEmailCtrl.email"
                                name="email"
                                type="email"
                                class="form-control"
                                placeholder="{{'LABEL.EMAIL' | translate}}"
                                ng-pattern="FindPassEmailCtrl.FormRegxService.getRegx('email')"
                            >
                            <div ng-messages="FindPassEmailCtrl.form.email.$error" class="error-msg">
                                <p ng-message="pattern">{{'FORM_ERROR.WRONG_EMAIL' | translate}}</p>
                            </div>
                        </div>
                    </form>

                    <p
                        ng-show="FindPassEmailCtrl.isFinished"
                        translate="FIND_PASSWORD.FINISH_SEND"
                        translate-values="{ email: FindPassEmailCtrl.email }"
                    ></p>
                </div>
                <footer class="col-lg-6 col-lg-offset-3">

                    <button class="btn" ng-click="FindPassEmailCtrl.postEmail()">
                        <span ng-show="!FindPassEmailCtrl.isFinished && !FindPassEmailCtrl.isBusy">{{'FORM.SEND.EMAIL' | translate}}</span>
                        <span ng-show="FindPassEmailCtrl.isFinished && !FindPassEmailCtrl.isBusy">{{'FORM.SEND.EMAIL_AGAIN' | translate}}</span>

                        <!-- <loading-icon ng-show="FindPassEmailCtrl.isBusy" icon="1"></loading-icon> -->
                        <i class="xi-spinner-5 xi-spin" ng-show="FindPassEmailCtrl.isBusy"></i>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>
