<div class="container">
    <div class="row">
        <div class="fieldset wiseword-form col-lg-12">
            <div class="message-box">
                <div class="main-message">
                    <h3>you have to go through the verification first</h3>
                </div>
                <div class="wiseword-message">
                    now, you change your password for account security.<br>
                    Please press the button below to send an authentication email<br>
                    to your email address.
                </div>
                <div class="col-lg-6 col-lg-offset-3 input-container">
                    <input
                        ng-model="FindPassEmailCtrl.email"
                        type="email"
                        class="form-control"
                        placeholder="your email"
                        ng-pattern="FindPassEmailCtrl.FormRegxService.getRegx('email')"
                    >
                </div>
                <footer class="col-lg-6 col-lg-offset-3">
                    <button class="btn" ng-click="FindPassEmailCtrl.postEmail()">Send Email</button>
                </footer>
            </div>
        </div>
    </div>
</div>
