<div class="container">
    <div class="row">
        <div class="fieldset wiseword-form col-lg-12">
            <div class="message-box">
                <div class="main-message">
                    <h3>{{'RESET_PASSWORD.TITLE' | translate}}</h3>
                </div>
                <div class="wiseword-message" translate="RESET_PASSWORD.DESC"></div>
                <div
                    class="form-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3"
                >
                    <form name="ResetPassCtrl.form">
                        <div class="input-container full-width">
                            <input
                                name="password"
                                type="password"
                                class="form-control"
                                placeholder="{{'LABEL.PASSWORD' | translate}}"
                                ng-model="ResetPassCtrl.password.origin"
                                ng-keyup="ResetPassCtrl.calcPasswordLevel()"
                                ng-pattern="ResetPassCtrl.FormRegxService.getRegx('password')"
                                required
                            >
                            <div class="password-score">
                                <div class="score-bar" data-status="{{ResetPassCtrl.passwordScore.status}}" ng-style="{'width': ResetPassCtrl.passwordScore.score+'%'}"></div>
                            </div>
                        </div>
                        <div class="input-container full-width">
                            <input
                                name="passwordAgain"
                                type="password"
                                class="form-control"
                                placeholder="{{'LABEL.PASSWORD_REPEAT' | translate}}"
                                ng-model="ResetPassCtrl.password.repeat"
                                ng-keyup="ResetPassCtrl.checkPasswordAgain()"
                                required
                            >
                            <div ng-messages="ResetPassCtrl.form.passwordAgain.$error" class="error-msg">
                                <p ng-message="notMatched">
                                    {{'FORM_ERROR.WRONG_REPEAT_PASSWORD' | translate}}
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <footer class="col-lg-6 col-lg-offset-3">
                    <button
                        class="btn"
                        ng-click="ResetPassCtrl.postData()"
                        ng-disabled="ResetPassCtrl.form.$invalid"
                    >
                        {{'FORM.CHANGE' | translate}}
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>
