<div class="container">
    <div class="row">
        <header>
            <div class="global-logo">
                <a href="/">
                    <img
                        src="https://s3-ap-northeast-1.amazonaws.com/pixelstairsdev/assets/logo/vp_b.png"
                        alt="global-logo"
                    >
                </a>
            </div>
            <p>Connect Your Creativity with the World</p>
        </header>
        <div
            class="form-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3"
        >
            <div class="fieldset">
                <form name="SignUpCtrl.form" ng-init="SignUpCtrl.form = SignUpCtrl.form">
                    <div class="input-container full-width">
                        <input
                            name="email"
                            type="email"
                            class="form-control"
                            placeholder="Email"
                            ng-model="SignUpCtrl.signData.email"
                            ng-pattern="SignUpCtrl.FormRegxService.getRegx('email')"
                        />
                        <div ng-messages="SignUpCtrl.form.email.$error" class="error-msg">
                            <p ng-message="pattern">Email pattern error</p>
                        </div>
                    </div>
                    <div class="input-container full-width">
                        <input
                            name="password"
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            ng-model="SignUpCtrl.signData.password.origin"
                            ng-keyup="SignUpCtrl.calcPasswordLevel()"
                        >
                        <div class="password-score">
                            <div class="score-bar" data-status="{{SignUpCtrl.passwordScore.status}}" ng-style="{'width': SignUpCtrl.passwordScore.score+'%'}"></div>
                        </div>
                    </div>
                    <div class="input-container full-width">
                        <input
                            name="passwordAgain"
                            type="password"
                            class="form-control"
                            placeholder="Password Again"
                            ng-model="SignUpCtrl.signData.password.repeat"
                            ng-keyup="SignUpCtrl.checkPasswordAgain()"
                        >
                        <div ng-messages="SignUpCtrl.form.passwordAgain.$error" class="error-msg">
                            <p ng-message="notMatched">
                                It is different! Please make sure your password
                            </p>
                        </div>
                    </div>
                    <div class="input-container full-width">
                        <input
                            name="nickname"
                            type="text"
                            class="form-control"
                            placeholder="nickname"
                            ng-model="SignUpCtrl.signData.nickname"
                            min-length="5"
                            max-length="30"
                            ng-pattern="SignUpCtrl.FormRegxService.getRegx('nickname')"
                            required
                        >
                        <div ng-messages="SignUpCtrl.form.nickname.$error" class="error-msg">
                            <p ng-message="pattern">Some characters are unavailable</p>
                        </div>
                    </div>
                    <div class="input-container full-width">
                        <select
                            class="form-control"
                            ui-select2="SignUpCtrl.selectBoxOption"
                            ng-model="SignUpCtrl.signData.gender"
                            ng-options="gender.code as gender.name for gender in SignUpCtrl.genders"
                            placeholder="select your gender"
                        >
                        </select>
                    </div>
                    <div class="input-container full-width">
                        <datepicker
                            class="full-width"
                            ng-model="SignUpCtrl.signData.birthday"
                            placeholder="Birthday"
                        ></datepicker>
                    </div>

                    <p class="form-desc">
                        If you press the button below, it is assumed that you have agreed to our
                        <a ui-sref="common.default.terms" target="_blank">terms of service</a>
                        and
                        <a ui-sref="common.default.privacy-policy" target="_blank">privacy policy</a>.
                    </p>

                    <button
                        class="signin-btn btn full-width"
                        ng-click="SignUpCtrl.postData()"
                        ng-disabled="SignUpCtrl.form.$invalid"
                    >
                        Submit &amp; Start as a Member
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
