.wiseword-form {
    margin-top: 40vh;
    transform: translateY(-50%);
     * {
         text-align: center;
     }

     .message-box {
        margin-bottom: 30px;

        .main-message {
            margin-bottom: 30px;
            h3 {
                font-size: 25px;
            }
        }
        .wiseword-message {
            h6 {
                font-style: italic;
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 15px;
                line-height: 1.5em;
            }
            p {
                color: $silver-grey;
                font-weight: 400;
                font-size: 12px;
            }
        }

        footer {
            margin-top: 30px;
        }
    }
}
