.global-footer {
    border: none;
    margin: 50px 0 0 0;
    padding: 0 40px;
    background: $white;
    .footer-wrapper {
        border-top: 1px solid $light-grey;
        padding: 20px 0;
    }
    ul.nav-wrapper {
        margin: 0 auto;
        margin-bottom: 10px;
        li {
            display: inline-block;
            text-align: center;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $silver-grey;
            }
        }
    }
    .service-info {
        span {
            display: inline-block;
            color: $silver-grey;
            margin-right: 10px;
            font-size: 12px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    /* Media Query */

    @media screen and (max-width: $mobile) {
        ul.nav-wrapper {
            width: 100%;
            li {
                * {
                    font-size: 12px;
                }
            }
        }
    }
}
