.input-container {
    position: relative;
}

.form-control {
    height: $input-height;
    border: 1px solid $dove-grey;
    border-radius: $input-border-radius;
    box-shadow: none;
    color: $dove-grey;
    @include mq('sm') {
        height: $mobile-input-height;
    }

    &:focus {
        box-shadow: none;
    }

    .ng-invalid.ng-dirty {
        border-color: $dark-red;

        &+.error-msg {
            position: absolute;
            bottom: 5px;
            left: 0;
            p {
                color: $dark-red;
                text-align: center;
                font-size: 12px;
            }
        }
    }

    .password-score {
        height: 5px;
        margin-top: 0px;
        background: $silver-grey;
        text-align: left;
        .score-bar {
            vertical-align: top;
            height: 100%;
            display: inline-block;
            background-color: $dove-grey;
            transition: width 0.3s ease-out;
            &[data-status='low'] {
                background-color: $dark-red;
            }
            &[data-status='mid'] {
                background-color: $yellow;
            }
            &[data-status='high'] {
                background-color: $green;
            }
            &[data-status='perfect'] {
                background-color: $blue;
            }
        }
    }
}
