#toast-container {
    z-index: 9999;
    .toast {
        * {
            color: $white;
        }

        &.toast-location-change {
            background: $dove-grey;
            background-image: none !important;
            &::before {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-family: 'xeicon';
                font-size: 26px;
                content: "\eae2";
            }
        }
    }
}
