.cropper-modal-window {
    .modal-body {
        max-height: calc(60vh);
    }
    .modal-footer {
        .btn-group.row {
            margin: 0;
            .cancel-btn {
                background-color: $dove-grey;
            }
            .crop-btn {
                background-color: $mine-black;
            }
            .btn {
                @include mq('sm') {
                    border-radius: 0;
                    & + .btn {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
