.modal-backdrop.in {
    opacity: 0.8;
}

.modal-dialog {
    @include mq('sm') {
        margin: 0;
        max-width: 100vh;
    }
    .modal-content {
        @include mq('sm') {
            border: none;
            border-radius: 0;
        }
        .modal-header {
            .header-close-btn {
                position: absolute;
                top: 20px;
                right: 20px;
                font-weight: bolder;
                font-size: 18px;
            }
        }
        .modal-body {

        }
        .modal-footer {
            @include mq('sm') {
                padding: 0;
            }
            .btn {

            }
        }
    }
}
