<footer class="navbar global-footer">
    <ul class="nav-wrapper">
        <li ng-repeat="link in GlobalFooterCtrl.linkList">
            <a ui-sref="{{link.link}}">{{link.name | translate}}</a>
        </li>
    </ul>
    <div class="service-info">
        <div class="global-logo">
            <a href="/">
                <img
                    src="https://s3-ap-northeast-1.amazonaws.com/pixelstairsdev/assets/logo/text_b.png"
                    alt="global-logo"
                >
            </a>
        </div>
        <span>Connect your Creativity with the World</span>
        <p>powered by 2017 Lubycon.co</p>
    </div>
</footer>
