<footer>
    <div class="footer-nev-wrapper">
        <li class="footer-nev">
            <p>about us</p>
            <p>contact</p>
            <p>privacy policy</p>
            <p>terms of service</p>
        </li>
    </div>
    <div class="footer-info">
        <div class="footer global-logo">
            <a href="/">
                <img
                    src="https://s3-ap-northeast-1.amazonaws.com/pixelstairsdev/assets/logo/text_b.png"
                    alt="global-logo"
                >
            </a>
        </div>
        <span>Connect your Creativity with the World</span>
        <p>powered by 2017 Lubycon.co</p>
    </div>
</footer>
