.global-header {
    min-height: $global-header-height;
    background-color: $white;
    .global-logo {
        width: 160px;
        @include floatToCenter;
    }

    .global-menu-wrapper {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        ul {
            li {
                display: inline-block;
                margin: 0 5px;
                padding: 5px 10px;
                &.global-menu {
                    border: 2px solid $dove-grey;
                }

                &.member-menu {
                    .user-info {
                        .user-profile-img {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 7px;
                            @include circleFrame(35px);
                        }
                        a {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: $mobile) {
        .global-logo {
            width: 120px;
        }

        .global-menu-wrapper {
            ul {
                li {
                    margin: 0;
                    font-size: 12px;
                }
            }
        }
    }
}
