<nav
    class="navbar navbar-fixed-top global-header"
    ng-class="{'transparency': GlobalHeaderCtrl.hasJumbotron()}"
    role="navigation"
>
    <!--@LOGO-->
    <div class="global-logo">
        <a href="/">
            <img
                ng-show="GlobalHeaderCtrl.isTransparency"
                ng-src="https://s3.ap-northeast-2.amazonaws.com/pixelstairs/assets/logo/text_w.png"
                alt="global-logo"
            >
            <img
                ng-show="!GlobalHeaderCtrl.isTransparency"
                ng-src="https://s3.ap-northeast-2.amazonaws.com/pixelstairs/assets/logo/text.svg"
                alt="global-logo"
            >
        </a>
    </div>
    <!--@LOGO END-->

    <div class="global-menu-wrapper">
        <ul>
            <li ng-if="!GlobalHeaderCtrl.isMobile">
                <a
                    class="content-upload-btn btn btn-round"
                    ng-click="GlobalHeaderCtrl.gotoUpload()"
                >
                    {{'HEADER.UPLOAD_ARTWORK' | translate}}
                </a>
            </li>

            <!-- SIGNIN BUTTON START -->
            <span>
                <li
                    class="sign-menu"
                    permission
                    permission-only="'GHOST'"
                >
                    <a ui-sref="full.default.signin">
                        <button class="btn btn-round">
                            {{'LABEL.SIGNIN' | translate}}
                        </button>
                    </a>
                </li>
                <!-- SIGNIN BUTTON END -->
                <!-- USER MENU START -->
                <li
                    uib-dropdown
                    class="member-menu"
                    permission
                    permission-only="'USER'"
                >
                    <div class="user-info">
                        <div ng-show="!GlobalHeaderCtrl.isMobile" class="user-profile-img">
                            <img ng-src="{{GlobalHeaderCtrl.memberProfile}}" alt="user-profile">
                        </div>
                        <a uib-dropdown-toggle>{{GlobalHeaderCtrl.$rootScope.member.nickname}} <i class="xi-angle-down-min"></i></a>
                    </div>

                    <ul
                        uib-dropdown-menu
                        class="dropdown-menu dropdown-menu-right"
                    >
                        <li
                            ng-repeat="link in GlobalHeaderCtrl.memberLinkList"
                            permission
                            permission-only="link.permission"
                        >
                            <a ng-if="link.link" ui-sref="{{link.link}}">
                                <span>{{link.name | translate}}</span>
                                <i class="{{link.icon}}"></i>
                            </a>
                            <a ng-if="link.callback" ng-click="link.callback(GlobalHeaderCtrl)">
                                <span>{{link.name | translate}}</span>
                                <i class="{{link.icon}}"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- USER MENU END -->
            </span>
        </ul>
    </div>
</nav>
