<nav
    class="navbar navbar-fixed-top global-header"
    role="navigation"
>
    <!--@LOGO-->
    <div class="global-logo">
        <a href="/">
            <img
                src="https://s3-ap-northeast-1.amazonaws.com/pixelstairsdev/assets/logo/text.svg"
                alt="global-logo"
            >
        </a>
    </div>
    <!--@LOGO END-->

    <div class="global-menu-wrapper">
        <ul>
            <li
                ng-if="!GlobalHeaderCtrl.isMobile && GlobalHeaderCtrl.isSignin"
            >
                <a
                    class="content-upload-btn btn btn-round"
                    ui-sref="common.default.contents-upload"
                >
                    {{'HEADER.UPLOAD_ARTWORK' | translate}}
                </a>
            </li>

            <!-- SIGNIN BUTTON START -->
            <span>
                <li
                    class="sign-menu"
                    ng-if="!GlobalHeaderCtrl.isSignin"
                >
                    <a ui-sref="full.default.signin">
                        <button class="btn btn-round">
                            {{'LABEL.SIGNIN' | translate}}
                        </button>
                    </a>
                </li>
                <!-- SIGNIN BUTTON END -->
                <!-- USER MENU START -->
                <li
                    uib-dropdown
                    class="member-menu"
                    ng-if="GlobalHeaderCtrl.isSignin"
                >
                    <div class="user-info">
                        <div ng-show="!GlobalHeaderCtrl.isMobile" class="user-profile-img">
                            <img ng-src="{{GlobalHeaderCtrl.memberProfile}}" alt="user-profile">
                        </div>
                        <a uib-dropdown-toggle>{{GlobalHeaderCtrl.$rootScope.member.nickname}} <i class="xi-angle-down-min"></i></a>
                    </div>

                    <ul
                        uib-dropdown-menu
                        class="dropdown-menu dropdown-menu-right"
                    >
                        <li
                            ng-repeat="link in GlobalHeaderCtrl.memberLinkList"
                            ng-if="GlobalHeaderCtrl.memberStatus !== link.ignore"
                        >
                            <a ui-sref="{{link.link}}">
                                <span>{{link.name | translate}}</span>
                                <i class="{{link.icon}}"></i>
                            </a>
                        </li>
                        <li>
                            <a ng-click="GlobalHeaderCtrl.signout()">
                                <span>{{'LABEL.SIGNOUT' | translate}}</span>
                                <i class="xi-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- USER MENU END -->
            </span>
        </ul>
    </div>
</nav>
