<nav
    class="navbar navbar-fixed-top global-header"
    role="navigation"
>
    <!--@LOGO-->
    <div class="global-logo">
        <a href="/">
            <img
                src="https://s3-ap-northeast-1.amazonaws.com/lubycon/assets/logo/text_b.png"
                alt="global-logo"
            >
        </a>
    </div>
    <!--@LOGO END-->

    <div class="global-menu-wrapper">
        <ul>
            <li
                class="global-menu"
                ng-repeat="link in GlobalHeader.linkList"
            >
                <a ui-sref="link.link">
                    {{link.name}}
                </a>
            </li>
            <li
                class="sign-menu"
            >
                <a ui-sref="full.default.signin">
                    Sign in
                </a>
            </li>
        </ul>
    </div>
</nav>
