

/* @METHOD */

/* @FONT */
$inconsolata: 'Inconsolata', sans-serif;

/* @VARIABLES */
$global-header-height: 65px;

/* @COLORS */
$black: #000;
$mine-black: #383838;
$dove-grey: #666;
$silver-grey: #aaa;
$light-grey: #ddd;
$white: #fff;

$dark-red: #cf4747;
$yellow: #ffeb3b;
$green: #00e676;
$blue: #488ccb;

/* @MEDIA QUERY */
$tablet: 768px;
$mobile: 640px;
