.state-cert-mail,.state-cert-password-code {

    .input-container {
        display: inline-block;
        .form-control {

        }
    }
    footer {
        padding: 20px;
        .btn {
            width: 100%;
        }
    }
}
