<div class="container">
    <div class="row">
        <div class="fieldset wiseword-form col-lg-12">
            <div class="message-box row">
                <div class="main-message col-xs-12">
                    <h3>"{{'CERT_PASSWORD.TITLE' | translate}}"</h3>
                </div>
                <div class="wiseword-message col-xs-12">{{'CERT_PASSWORD.DESC' | translate}}</div>
                <div
                    class="form-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
                >
                    <form name="CertPassCtrl.form">
                        <div class="input-container full-width">
                            <input
                                name="password"
                                type="password"
                                class="form-control"
                                placeholder="{{'LABEL.PASSWORD' | translate}}"
                                ng-model="CertPassCtrl.certData.password"
                                required
                            >
                        </div>

                        <button
                            class="btn btn-round full-width"
                            ng-click="CertPassCtrl.postData()"
                            type="submit"
                        >
                            <span ng-show="!CertPassCtrl.isFinished && !CertPassCtrl.isBusy">{{'FORM.SUBMIT' | translate}}</span>
                            <i class="xi-spinner-5 xi-spin" ng-show="CertPassCtrl.isBusy"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
