<div class="container">
    <div class="row">
        <div class="fieldset wiseword-form col-lg-12">
            <div class="message-box row" ng-if="CertSignupLandingCtrl.isInit">
                <div class="main-message col-xs-12">
                    <h3>{{ CertSignupLandingCtrl.title }}</h3>
                </div>
                <div class="wiseword-message col-xs-12">
                    {{ CertSignupLandingCtrl.msg }}
                </div>
                <footer class="col-lg-6 col-lg-offset-3">
                    <button
                        ng-click="CertSignupLandingCtrl.goToMain()"
                        ng-show="CertSignupLandingCtrl.isSuccess"
                        class="btn"
                    >
                        {{'FORM.GO_TO_MAIN' | translate}}
                    </button>
                    <button
                        ui-sref="common.default.auth-signup"
                        ng-show="!CertSignupLandingCtrl.isSuccess"
                        class="btn"
                    >
                        {{'FORM.PREV' | translate}}
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>
