<div class="wrapper">
    <div class="aboutus-header">
        <h4>About Pixelstairs</h4>
        <div class="jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="float-desc">
                <div class="logo">
                    <img src="https://s3-ap-northeast-1.amazonaws.com/pixelstairsdev/assets/logo/vp_w.png" alt="pxs-logo-white">
                </div>
                <h3>Connect your Creativity with the World</h3>
                <p>
                    The Pixelstairs is dedicated to providing better opportunities<br>
                    for their works and another inspired interaction with every artist in the world.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="intro-section col-lg-12 col-md-12 col-sm-12 col-xs12">
            <h3>Supporting All of the Artists</h3>
            <div class="icon-desc">
                <ul class="row">
                    <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-repeat="desc in AboutusCtrl.desciptions">
                        <div class="icon-desc-icon">
                            <img ng-src="{{desc.icon}}" alt="{{'icon-'+desc.alt}}">
                        </div>
                        <h4 ng-bind-html="desc.title"></h4>
                    </li>
                </ul>
            </div>
            <div class="paragraph-desc">
                <p>
                    Pixelstairs platform support all artists and designers in all areas of art and design beyond the borders of the world.
                    All users can freely post their creative works without being restricted to genres.
                    Many creators from around the world who are in the same era in the same field can appreciate your work and display their support.
                    and furthermore, create an intimate community with them in the Pixelstairs service can be configured.
                </p>
            </div>
        </section>
        <section class="cc-section col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Get copyrighs and free to post</h3>
            <div class="icon-desc">
                <ul class="row">
                    <li ng-repeat="desc in AboutusCtrl.ccDescription">
                        <div class="icon-desc-icon">
                            <img ng-src="{{desc.icon}}" alt="{{'icon-'+desc.alt}}">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="paragraph-desc">
                <p>
                    All works posted on the service are subject to the safe creative commons license as specified by the Pixelstairs,
                    and in accordance with the terms and conditions of the service, the creator is prohibited from stealing, modifying, or distributing any material ohter than the author.
                </p>
            </div>
        </section>
        <section class="contact-section col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Contact us! anytime!</h3>
            <div class="paragraph-desc">
                <p>
                    If you need more information or have questions about pixelstairs practives or transactions with site,
                    please click the button below or send an email to <a href="mailto:pixelstairscontact@gmail.com">pixelstairscontact@gmail.com</a>.
                </p>
            </div>
        </section>
    </div>
</div>
