<div class="pixel-datepicker input-group">
    <input
        type="text"
        uib-datepicker-popup="yyyy/MM/dd"
        is-open="Datepicker.isOpen"
        class="form-control"
        placeholder="{{Datepicker.placeholder}}"
        ng-model="Datepicker.ngModel"
    >
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="Datepicker.popupOpen()">TEST</button>
    </span>
    <input
        class="hidden mobile-datepicker"
        type="date"
        ng-if="Datepicker.isMobile"
        ng-model="Datepicker.ngModel"
    >
</div>
