<div class="pixel-datepicker input-group {{Datepicker.class}}">
    <input
        type="text"
        uib-datepicker-popup="yyyy/MM/dd"
        is-open="Datepicker.isOpen"
        class="form-control"
        placeholder="{{Datepicker.placeholder}}"
        datepicker-options="Datepicker.options"
        show-button-bar="Datepicker.isMobile"
        x-autocompletetype="off"
        autocompletetype="off"
        autocorrect="off"
        spellcheck="off"
        autocapitalize="off"
        readonly
        ng-change="Datepicker.onChange()"
        ng-click="Datepicker.popupOpen()"
        ng-model="Datepicker.ngModel"
        tabindex="-1"
    >
</div>
