<div class="pixel-datepicker input-group {{Datepicker.class}}">
    <input
        type="text"
        uib-datepicker-popup="yyyy/MM/dd"
        is-open="Datepicker.isOpen"
        class="form-control"
        placeholder="{{Datepicker.placeholder}}"
        datepicker-options="Datepicker.options"
        show-button-bar="false"
        ng-focus="Datepicker.popupOpen()"
        ng-model="Datepicker.ngModel"
    >
    <input
        class="hidden-float mobile-datepicker"
        type="date"
        ng-if="Datepicker.isMobile"
        ng-model="Datepicker.ngModel"
    >
</div>
