<div class="jumbotron about-jumbotron">
    <div class="jumbo-mask"></div>

    <div class="jumbo-desc">
        <div class="logo">
            <img src="https://s3.ap-northeast-2.amazonaws.com/pixelstairs/assets/logo/vp_w.png" alt="pxs-logo-white">
        </div>

        <h1>Connect your Creativity with the World</h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                The Pixelstairs is dedicated to providing better opportunities<br>
                for their works and another inspired interaction with every artist in the world.
            </p>
        </div>
    </div>
</div>
