<div class="jumbotron main-jumbotron">
    <div class="jumbo-mask"></div>

    <div class="jumbo-desc">
        <h1>{{'MOTO' | translate}}</h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>{{'HELLO_INFO.00' | translate}}</p>
            <p>{{'HELLO_INFO.01' | translate}}</p>
        </div>
    </div>

    <slick
        settings="MainJumboCtrl.slickConfig"
    >
        <div class="slick-item" ng-repeat="slide in MainJumboCtrl.imageList">
            <div
                class="slick-image"
                ng-style="{'background-image': 'url('+slide.image.file+')'}"
            ></div>
        </div>
    </slick>
</div>
