<div class="modal-header">
    <h3 class="modal-title">Crop your image!</h3>
    <span class="header-close-btn" ng-click="CropperCtrl.cancel()">
        <i class="xi-close"></i>
    </span>
</div>

<div class="modal-body" id="modal-body">
    <img
        class="cropper"
        cropper
        cropping="true"
        ng-if="CropperCtrl.data.img"
        ngf-src="CropperCtrl.data.img"
        ngf-no-object-url="true"
        alt="cropping-image"
    >
</div>

<div class="modal-footer">
    <div class="btn-group row full-width">
        <button
            class="btn btn-lg col-xs-6 cancel-btn"
            ng-click="CropperCtrl.cancel()"
        >
            <i class="xi-close"></i> {{'FORM.CANCEL' | translate}}
        </button>
        <button
            class="btn btn-lg col-xs-6 crop-btn"
            ng-click="CropperCtrl.crop()"
        >
            <i class="xi-crop"></i> {{'FORM.CROP' | translate}}
        </button>
    </div>
</div>
