.state-aboutus {
    .container {
        .row {
            margin-bottom: 100px;
            @include mq('sm') {
                margin-bottom: 0;
            }
        }
        section {
            h3 {
                text-align: center;
                margin: 80px 0;
                font-size: 36px;
                font-weight: bolder;
                @include mq('sm') {
                    font-size: 20px;
                    margin: 40px 0;
                }
            }

            a {
                font-weight: bolder;
                text-decoration: underline;
            }

            .icon-desc {
                margin-bottom: 80px;
                text-align: center;
                @include mq('sm') {
                    margin-bottom: 40px;
                }
                li {
                    display: inline-block;
                    div.icon-desc-icon {
                        height: 190px;
                        text-align: center;
                        margin: 0 50px 42px;
                        @include mq('sm') {
                            height: 50px;
                            margin: 0 0 20px;
                        }

                        img {
                            height: 100%;
                        }
                    }
                    h4 {
                        font-size: 24px;
                        text-align: center;
                        line-height: 0.9;
                        font-weight: bolder;

                        @include mq('sm') {
                            display: none;
                        }
                    }
                }
            }
            .paragraph-desc {
                p {
                    font-size: 16px;
                    text-align: center;
                    @include mq('sm') {
                        font-size: 14px;
                    }
                }
            }

            &.cc-section {
                li {
                    margin-right: 100px;
                    @include mq('sm') {
                        margin-right: 50px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    .icon-desc-icon {
                        margin: 0;
                    }
                }
            }

            &.contact-section {
                padding-bottom: 400px;
                @include mq('sm') {
                    padding-bottom: 200px;
                }
            }
        }
    }
}
