<div class="container">
    <div class="sub-header row">
        <div class="description col-lg-12">
            <h4>Connect Your Creativity with the World</h4>
            <div class="col-lg-12">
                <p>The Pixelstairs is dedicated to providing better opportunities</p>
                <p>for their works and another inspired interaction with every artist in the world.</p>
            </div>
        </div>
        <div class="sort-filter col-lg-12">
            <ul>
                <li
                    class="btn"
                    ng-repeat="filter in MainCtrl.sortFilter"
                    ng-click="MainCtrl.setFilter(filter.value)"
                >
                    {{filter.name}}
                </li>
            </ul>
        </div>
        <div class="view-mode col-lg-12">
            <ul>
                <li
                    class="btn"
                    ng-class="{'selected': mode.selected}"
                    ng-repeat="mode in MainCtrl.viewmode"
                    ng-click="MainCtrl.setViewmode(mode.name)"
                >
                    <i class="{{mode.icon}}"></i>
                </li>
            </ul>
        </div>
    </div>

    <div class="page-body row {{MainCtrl.getViewmode()+'-mode'}}">
        <div
            class="infinite-scroll-wrapper"
            infinite-scroll="MainCtrl.onScroll()"
            infinite-scroll-disabled="MainCtrl.scrollDisabled"
            infinite-scroll-distance="0"
        >
            <ul
                angular-grid="MainCtrl.contentsData.list"
                ag-css-grid="true"
                angular-grid-id="gallery"
            >
                <li
                    class="col-lg-{{MainCtrl.columnWidth}}"
                    data-ng-repeat="data in MainCtrl.contentsData.list"
                    ui-sref="common.default.contents-detail({ id: data.id })"
                >
                    <art-card
                        data="data"
                        viewmode="MainCtrl.currentViewmode"
                        fixed-header="$index === 0"
                        header-offset="50"
                    ></art-card>
                </li>
            </ul>
        </div>
    </div>
</div>
