.state-main .container {
    .sub-header {
        .description {
            margin: 10px 0;
            * {
                font-family: $inconsolata;
                text-align: center;
            }
            h4 {
                margin-bottom: 20px;
            }
        }


        ul {
            text-align: center;
        }

        .sort-filter {
            ul {
                li.btn {
                    border: none;
                    margin: 0 20px;
                }
            }
        }
        .view-mode {
            ul {
                li.btn {
                    border: none;
                    i {
                        font-size: 20px;
                        color: $light-grey-color;
                    }
                    &.selected {
                        i {
                            color: $dark-grey-color;
                        }
                    }
                }
            }
        }
    }
    .page-body {
        &>ul {
            &>li {
                padding: 0 10px;
            }
        }
    }
}
