.state-main .container {
    .sub-header {
        .description {
            margin: 10px 0;
            * {
                font-family: $inconsolata;
                text-align: center;
            }
            h4 {
                margin-bottom: 20px;
            }
        }


        ul {
            text-align: center;
        }

        .sort-filter {
            ul {
                li.btn {
                    border: none;
                    margin: 0 20px;
                }
            }
        }
        .view-mode {
            ul {
                li.btn {
                    border: none;
                    i {
                        font-size: 20px;
                        color: $light-grey-color;
                    }
                    &.selected {
                        i {
                            color: $dark-grey-color;
                        }
                    }
                }
            }
        }
    }
    .page-body {
        &>ul {
            &>li {
                padding: 0 10px;
            }
        }

        &.wide-mode {
            .art-card {
                .art-background {
                    position: relative;
                    padding-top: 56.25%;
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                    }
                }
                .art-info {
                    
                }
            }
        }
    }
}
