<div class="container">
    <div class="sub-header row">
        <div class="sort-filter col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul>
                <li
                    class="btn"
                    ng-class="{'selected': filter.value === MainCtrl.sortMode}"
                    ng-repeat="filter in MainCtrl.sortFilter"
                    ng-click="MainCtrl.setFilter(filter.value)"
                >
                    {{'LABEL.' + filter.name.toUpperCase() | translate}}
                </li>
            </ul>
        </div>
        <div class="view-mode col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="!MainCtrl.isMobile">
            <ul>
                <li
                    class="btn"
                    ng-class="{'selected': mode.selected}"
                    ng-repeat="mode in MainCtrl.viewmode"
                    ng-click="MainCtrl.setViewmode(mode.name)"
                >
                    <i class="{{mode.icon}}"></i>
                </li>
            </ul>
        </div>
    </div>

    <div class="page-body row {{MainCtrl.getViewmode()+'-mode'}}">
        <div
            class="infinite-scroll-wrapper"
            infinite-scroll="MainCtrl.onScroll()"
            infinite-scroll-disabled="MainCtrl.isBusy"
            infinite-scroll-distance="0"
        >
            <ul
                angular-grid="MainCtrl.contentsData.list"
                ag-css-grid="false"
                ag-grid-width="MainCtrl.gridWidth"
                ng-class="{'is-loading': MainCtrl.isBusy}"
            >
                <li
                    class="col-lg-{{MainCtrl.columnWidth}}"
                    data-ng-repeat="data in MainCtrl.contentsData.list"
                    ui-sref="common.default.contents-detail({ id: data.id })"
                >
                    <art-card
                        data="data"
                        viewmode="MainCtrl.currentViewmode"
                    ></art-card>
                </li>
            </ul>
        </div>
        <div
            class="no-content-wrapper"
            ng-show="!MainCtrl.isBusy && MainCtrl.contentsData.list.length < 1"
        >
        </div>

        <div class="loading-icon" ng-show="MainCtrl.isBusy">
            <i class="xi-spinner-5 xi-spin"></i>
        </div>
    </div>
</div>
