.state-main .container {
    .sub-header {
        .description {
            margin: 10px 0;
            * {
                font-family: $inconsolata;
                text-align: center;
                font-size: 14px;
            }
            h4 {
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 22px;
            }
        }


        ul {
            text-align: center;
        }

        .sort-filter {
            ul {
                li.btn {
                    background-color: transparent;
                    color: $dark-grey;
                    margin: 0 20px;
                }
            }
        }
        .view-mode {
            ul {
                li.btn {
                    border: none;
                    background-color: transparent;
                    i {
                        font-size: 20px;
                        color: $silver-grey;
                    }
                    &.selected {
                        i {
                            color: $dark-grey;
                        }
                    }
                }
            }
        }
    }

    .loading-icon {
        margin: 0 auto;
    }

    .page-body {
        &>ul {
            &>li {
                padding: 0 10px;
                &.shown-element {
                    border: 1px solid #f00;
                }
            }
        }

        &.wide-mode {
            .art-card {
                .art-info {

                }
            }
        }
    }

    /* Media query */
    @media screen and (max-width: $mobile) {
        .sub-header {
            .description {
                * {
                    font-size: 11px;
                }
                h4 {
                    font-size: 17px;
                }
            }
        }
    }
}
