.state-signin .container,
.state-signup .container {
    .row {
        width: 100%;
        @include floatToCenter;
        @include mq('sm') {
            width: 100%;
            margin: 0;
        }
    }
    header {
        text-align: center;
        .global-logo {
            width: 250px;
            margin: 0 auto 10px;
        }
        p {
            font-size: 17px;
        }
    }
    .form-box {
        margin-top: 0;
        div .fieldset-hint{
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 30px;
            }
        }
        form {
            .input-container:last-of-type {
                padding-bottom: 0;
            }
            .signin-btn {
                margin-top: 30px;
                border: none;
                background: $mine-black;
                color: $white;
            }
        }
    }

    .form-desc {
        margin: 10px 0;
        a {
            text-align: left;
            text-decoration: underline;
            font-weight: 600;
        }
    }

    /* Media Query */
    @media screen and (max-width: $mobile) {
        header {
            .global-logo {
                width: 150px;
            }
            p {
                font-size: 15px;
            }
        }
        .form-box {
            div .fieldset-hint {
                font-size: 12px;
            }
        }
    }
}

@import './signup.page';
@import './_auth-signup.page';
@import './_password.page';
