.state-find-password-email,
.state-reset-password {
    .input-container {
        display: inline-block;
        .form-control {

        }
    }
    footer {
        padding: 20px;
        .btn {
            width: 100%;
        }
    }
}
