.state-signup .container {
    .row {
        @include mq('sm') {
            position: relative;
            transform: none;
            top: 0;
            left: 0;
            padding: 50px 0;
        }
    }
}
