.art-card {
    position: relative;
    margin: 10px 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

    &.grid {
        cursor: pointer;
    }
    &.wide {
        cursor: zoom-in;
        margin: 0;
    }

    .card-header {
        margin: 0;
        padding: 10px;
        display: table;
        &>div {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }

        .member-info {
            text-align: left;
            .member-profile {
                @include circleFrame(30px);
                display: inline-block;
                vertical-align: middle;
            }
            h4 {
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
            }
        }

        .art-title {
            h3 {
                text-align: center;
                font-size: 18px;
                vertical-align: middle;
            }
        }

        .art-info {
            ul {
                text-align: right;
                li {
                    display: inline-block;
                    font-size: 15px;
                    margin: 4px;
                }
            }
        }
    }

    .card-body {
        padding: 0;

        .art-background {
            img {
                width: 100%;
            }
        }

        .art-info {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            transition: all 0.5s ease-in-out;
            * {
                color: $white;
                font-family: $inconsolata;
                h4 {
                    margin: 5px auto;
                }
            }
            header {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                padding: 10px;
                .member-profile {
                    @include circleFrame(30px);
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                    .member-profile-img {
                        width: 100%;
                        height: 100%;
                        background: {
                            size: cover;
                            position: 50% 50%;
                        }
                    }
                }
                .member-info {
                    display: inline-block;
                    vertical-align: middle;
                    h4 {
                        font-size: 14px;
                    }
                }
            }
            footer {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                padding: 5px 10px;

                h4 {
                    margin-bottom: 10px;
                    font-size: 16px;
                }
                ul {
                    li {
                        display: inline-block;
                        margin: 0 0 8px 5px;
                        i {
                            vertical-align: middle;
                            font-size: 1.4em;
                        }
                        span {
                            vertical-align: middle;
                        }
                    }
                }
            }

            .zoom-in-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-size: 60px;
            }
        }
        &:hover {
            .art-info {
                opacity: 1;
            }
        }
    }
}
