.jumbotron.main-jumbotron {
    .jumbo-desc {
        text-align: center;
        .btn {
            margin-top: 30px;
            background-color: $blue;
            box-shadow: 0 8px 7px 0 rgba(0, 0, 0, 0.15);
            transition: all 0.1s ease-in-out;
        }
    }

    .slick-track {
        height: 470px;
        @include mq('sm') {
            height: 60vh;
        }

        .slick-item {
            height: 100%;
            overflow: hidden;
        }

        .slick-image {
            height: 100%;
            background: {
                size: cover;
                position: 50% 50%;
            }
        }
    }

    ul.slick-dots {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 10;
        li {
            display: inline-block;

            button {
                $slick-dot-size: 10px;
                width: $slick-dot-size;
                height: $slick-dot-size;
                padding: 0;
                margin: 0 6px;
                border: 1px solid $white;
                border-radius: 50%;
                background-color: transparent;
                color: transparent;
                vertical-align: middle;
                content: '';
            }

            &.slick-active {
                button {
                    background-color: $white;
                }
            }
        }
    }
}
