<div class="container">
    <div class="row">
        <header>
            <h2>{{'MENU.ACCOUNT_SETTING' | translate}}</h2>
            <p>{{'ACCOUNT_SETTING.DESC' | translate}}</p>
        </header>
        <div
            class="form-box col-xs-12 col-sm-12 col-md-12 col-lg-12"
        >
            <div class="fieldset col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">
                <div class="user-profile">
                    <div
                        class="profile-btn"
                        ngf-select
                        type="file"
                        name="profile-image"
                        ng-model="SettingCtrl.uploadedProfile"
                        ngf-change="SettingCtrl.changedFile($files,$file,$newFiles,$invalidFiles)"
                        ngf-accept="'image/*'"
                        ngf-max-size="10MB"
                        ngf-max-files="1"
                        ngf-fix-orientation="true"
                        ng-style="{'background-image':'url('+SettingCtrl.memberProfile.file+')'}"
                    >
                        <div class="img-loading-overlay" ng-show="SettingCtrl.isProfileBusy">
                            <i class="xi-spin xi-spinner-5"></i>
                        </div>
                    </div>

                    <p class="remove-profile-btn" ng-click="SettingCtrl.removeProfileImg()">
                        {{'ACCOUNT_SETTING.CHANGE_PROFILE_IMG' | translate}}
                    </p>
                </div>
                <form name="SettingCtrl.form">

                    <div class="input-container">
                        <input
                            name="email"
                            type="email"
                            class="form-control"
                            placeholder="Email"
                            ng-model="SettingCtrl.memberData.email"
                            disabled
                        />
                    </div>
                    <div class="input-container">
                        <input
                            name="nickname"
                            type="text"
                            class="form-control"
                            placeholder="nickname"
                            ng-model="SettingCtrl.memberData.nickname"
                            min-length="5"
                            max-length="30"
                            ng-blur="SettingCtrl.isExistName()"
                            ng-pattern="SettingCtrl.FormRegxService.getRegx('nickname')"
                            required
                        >
                        <div ng-messages="SettingCtrl.form.nickname.$error" class="error-msg">
                            <p ng-message="pattern">{{'FORM_ERROR.WRONG_STRING' | translate}}</p>
                            <p ng-message="exist">{{'FORM_ERROR.EXIST.NICKNAME' | translate}}</p>
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="select-wrapper form-control full-width">
                            <select
                                class="full-width"
                                ng-model="SettingCtrl.memberData.gender"
                                ng-options="gender.code as gender.name for gender in SettingCtrl.genders"
                            >
                            </select>
                        </div>
                    </div>
                    <div class="input-container">
                        <datepicker
                            class="full-width"
                            ng-model="SettingCtrl.memberData.birthday"
                            placeholder="Birthday"
                        ></datepicker>
                    </div>

                    <button
                        class="btn full-width"
                        ng-click="SettingCtrl.postData()"
                        ng-disabled="SettingCtrl.form.$invalid"
                    >
                        <span ng-show="!SettingCtrl.isBusy">{{'FORM.UPDATE' | translate}}</span>
                        <span ng-show="SettingCtrl.isBusy"><i class="xi-spin xi-spinner-5"></i></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
