.state-member-setting .container{
    header {
        text-align: center;
    }
    .form-box {
        border: 1px solid $dark-grey-color;
        margin-top: 20px;
        padding: 20px;
        text-align: center;

        .user-profile {
            &>div {
                @include circleFrame(150px);
                background: {
                    color: $silver-grey-color;
                    size: cover;
                    position: 50% 50%;
                }
                margin: 0 auto;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        form {
            .input-wrapper {
                padding: 0 10px;
                input {
                    margin: 10px 0;
                }
            }

            .signin-btn {
                margin-top: 30px;
                border: 1px solid $dark-grey-color;
            }
        }
    }
}
