<div class="container">
    <div class="row">
        <header>
            <p>Account Setting</p>
        </header>
        <div
            class="form-box col-xs-12 col-sm-12 col-md-12 col-lg-12"
        >
            <div class="fieldset">
                <div class="user-profile">
                    <div
                        ngf-select
                        type="file"
                        name="profile-image"
                        ng-model="SettingCtrl.uploadedProfile"
                        ngf-change="SettingCtrl.changedFile($files,$file,$newFiles,$invalidFiles)"
                        ngf-accept="'image/*'"
                        ngf-max-size="10MB"
                        ngf-max-files="1"
                        ngf-fix-orientation="true"
                        ng-style="{'background-image':'url('+SettingCtrl.memberData.profileImg.file+')'}"
                    >
                    </div>
                </div>
                <form name="settingForm">
                    <div class="input-wrapper full-width">
                        <input
                            name="email"
                            type="email"
                            class="form-control"
                            placeholder="Email"
                            ng-model="SettingCtrl.memberData.email"
                        />
                        <input
                            name="mobile"
                            type="tel"
                            class="form-control"
                            placeholder="Mobile"
                            ng-model="SettingCtrl.memberData.mobile"
                        >
                        <input
                            name="nickname"
                            type="text"
                            class="form-control"
                            placeholder="nickname"
                            ng-model="SettingCtrl.memberData.nickname"
                        >
                        <select
                            class="full-width"
                            ui-select2="SettingCtrl.selectBoxOption"
                            ng-change="SettingCtrl.setGender()"
                            ng-model="SettingCtrl.memberData.gender"
                            ng-options="gender.code as gender.name for gender in SettingCtrl.genders"
                        >
                        </select>
                        <datepicker
                            class="full-width"
                            ng-model="SettingCtrl.memberData.birthday"
                            placeholder="Birthday"
                        ></datepicker>
                    </div>

                    <button
                        class="btn full-width"
                        ng-click="SettingCtrl.postData()"
                    >
                        SUBMIT
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
